{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<ul class ="pager">
    {% if has_next %}
    <li class="previous">
        <a href="{{ url_for('view_entry', id  = id - 1) }}" > &larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
        <a href="{{ url_for('view_entry', id = id + 1)  }}" > &rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% for entry in entry %}
{{ macros.render_entry2(entry) }}
{% endfor %}

{% endblock %}