{% import "macros.html" as macros %}
{% extends "base.html" %}
{% block content %}

<form roles="form" class="form-inline" method="POST" style="margin-bottom: 1px;>
    <div class="row">
         <div class="col-xs-3">
            <a class="btn btn-default" href = "#">Change Paging</a>
         </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="paginate" name="paginate" placeholder="Entries per page: {{paginate}}" required>
        </div>
    </div>
</form>
<ul class ="pager">
    {% if has_next %}
    <li class="previous">
        <a href="{{ url_for('entries', page = page + 1 ) }}" > &larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
        <a href="{{ url_for('entries', page = page - 1 )  }}" > &rarr; Newer</a>
    </li>
    {% endif %}
    {% if has_next or has_prev  %}
    {% endif %}
</ul>

{% for entry in entries %}
{{ macros.render_entry1(entry) }}
{% endfor %}

<ul class ="pager">
    {% if has_next %}
    <li class="previous">
        <a href="{{ url_for('entries', page = page + 1 ) }}" > &larr; Older</a>
    </li>
    {% endif %}
    {% if has_prev %}
    <li class="next">
        <a href="{{ url_for('entries', page = page - 1 )  }}" > &rarr; Newer</a>
    </li>
    {% endif %}
</ul>

{% endblock %}